* {
    outline: solid 1px green;
}

body {
    height: 100vh;
    background-color: gray;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 0fr;
    grid-template-rows: 1fr;
}

#logo-container {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}

.logo{
    padding: 0rem 1rem 0rem 1rem;
}

#nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    flex-wrap: nowrap;
}

nav a, #menu-button {
    padding: 0rem 2rem 0rem 2rem;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

#toggle-menu {
    display: none;
}
#menu-button {
    display: none;
}


@media screen and (max-width: 600px) {
    
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #nav-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    
    nav {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        
  }
  #toggle-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  #menu-button {
    display: inline-block;
  }
  

}