#rules-container {
  display: none;
  height: 100%;
  align-self: center;
}

#rules-container h2 {
  margin-top: 0;
  text-transform: uppercase;
}
.rules-text {
  color: whitesmoke;
  text-align: center;
}

.rules-row {
  display: flex;
  align-items: center;
}
.rules-row-animated {
  display: flex;
}

#rules-img-box {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 1rem;
  outline: ridge 10px rgba(255, 255, 255, 0.04);
  border-radius: 50px;
}

#rules-img-box img {
  height: 100%;
  width: 50px;
}
#rules-img-box h3 {
  padding: 1rem 4rem 1rem 4rem;
}

/* flips through choice images to illustrate that a pair of the same type results in a draw */
.alternating-imgs {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  width: 100%;
  animation-name: img-loop;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes img-loop {
  0%,
  29.9999% {
    background-image: url("../../resources/img/rock.png");
  }

  30%,
  69.9999% {
    background-image: url("../../resources/img/paper.png");
  }

  70%,
  99.9999% {
    background-image: url("../../resources/img/scissors.png");
  }
}
