.player-choice-animation {
  position: relative;
  animation-name: player_element;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}
@keyframes player_element {
  from {
    left: 0rem;
  }
  to {
    left: 14rem;
  }
}

.computer-choice-animation {
  position: relative;
  animation-name: computer_element;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes computer_element {
  from {
    right: 0rem;
  }
  to {
    right: 14rem;
  }
}

@media screen and (max-width: 700px) {
  .player-choice-animation {
    position: relative;
    animation-name: player_element;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
  @keyframes player_element {
    from {
      top: 0rem;
    }
    to {
      top: 12.65rem;
    }
  }

  .computer-choice-animation {
    position: relative;
    animation-name: computer_element;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }

  @keyframes computer_element {
    from {
      top: 0rem;
    }
    to {
      top: -12.65rem;
    }
  }
}
