#game-container {
  display: none;
  align-self: center;
  height: 700px;
}

#main-menu-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content max-content;
  grid-template-areas:
    "title"
    "settings"
    "start-button";
  outline: ridge 10px rgba(255, 255, 255, 0.04);
  border-radius: 50px;
}

.game-text {
  color: #ffffff;
}

#title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-transform: uppercase;
  margin: 1rem;
}

#settings-box {
  grid-area: settings;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#settings-box h3 {
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
}

#settings-box input {
  text-align: center;
}

#player-name {
  width: 113.22px;
}

#start-button-box {
  grid-area: start-button;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 1rem;
}

.game-button {
  display: inline-block;
  padding: 0.3rem;
  margin: 0.2rem;
  border: 0.15rem solid #cccccc;
  font-weight: 400;
  width: 7rem;
  color: #000000;
  background-color: #cccccc;
  text-align: center;
}

.game-button[disabled] {
  background-color: #cccccc;
  cursor: not-allowed;
  pointer-events: none;
  color: #666666;
}
.game-button:hover {
  border-color: #7a7a7a;
}

#game-running-container {
  display: none;
  grid-template-columns: 1fr 25rem 1fr;
  grid-template-rows: 1fr 25rem 1fr;
  grid-template-areas:
    "score score score"
    "choice1 comparison choice2"
    "result result result";
}
#compared-score-box {
  grid-area: score;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 30px;
}

#compared-score-box h3 {
  margin: 1rem;
}

#player-score-display,
#computer-score-display {
  display: none;
  font-size: 30px;
}
#player-choice-box {
  grid-area: choice1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

#player-choice-elements-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#comparison-box {
  grid-area: comparison;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: ridge 10px rgba(255, 255, 255, 0.04);
  border-radius: 5000px;
}
#compact-round-result {
  display: none;
}

#computer-choice-box {
  grid-area: choice2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#player-choice-box img,
#computer-choice-box img {
  width: 50px;
  padding: 1rem 1rem 1rem 1rem;
}

#computer-name-display,
#player-name-display {
  margin: auto;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: capitalize;
}

#computer-choice-elements-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#result-box {
  grid-area: result;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#game-over-container {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content max-content;
  grid-template-areas:
    "score"
    "final-result"
    "buttons";
  outline: ridge 10px rgba(255, 255, 255, 0.04);
  border-radius: 50px;
  padding: 2rem;
}

#final-score-box {
  grid-area: score;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 30px;
  text-align: center;
}

#final-score-box h3 {
  margin: 0;
}
#final-result-box {
  grid-area: final-result;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-align: center;
}
#end-buttons-box {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
