@media screen and (max-width: 700px) {
  #game-running-container {
    height: 100%;
    width: 100%;
    display: none;
    grid-template-columns: 1fr 15rem 1fr;
    grid-template-rows: 12.5rem 15rem 12.5rem;
    grid-template-areas:
      "player-choice player-choice player-choice"
      "player-score alt-comparison computer-score"
      "computer-choice computer-choice computer-choice";
  }

  #compared-score-display {
    display: none;
  }

  #player-score-box {
    grid-area: player-score;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #player-score-display {
    display: flex;
  }

  #computer-score-box {
    grid-area: computer-score;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #computer-score-display {
    display: flex;
  }

  #player-choice-box {
    grid-area: player-choice;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "player-name"
      "player-choices";
  }

  #player-choice-elements-box {
    grid-area: player-choices;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  #player-name-display {
    grid-area: player-name;
    display: flex;
    align-self: flex-end;
    justify-self: center;
  }

  #comparison-box {
    grid-area: alt-comparison;
    min-width: 33.333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #compact-round-result {
    display: flex;
    margin-top: 0;
    padding-bottom: 7rem;
  }

  #computer-choice-box {
    grid-area: computer-choice;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas:
      ". computer-choices ."
      ". computer-name .";
  }

  #computer-name-display {
    grid-area: computer-name;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    justify-self: center;
  }

  #computer-choice-elements-box {
    grid-area: computer-choices;
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }

  #result-box {
    display: none;
  }
}
