
#home-container {
    background-color: rgb(255, 255, 255);
    height: fit-content;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "header-box"
    "about-box";
}

#header-box {
grid-area: header-box;
display: flex;
align-self: flex-start;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
#header-img {
width: 100%;
max-height: 20rem;
object-fit: cover;
}

#header-img-text-box {
    position: absolute;
    margin: 5vw;
    color: white;
    
}
#header-img-text-title {
    font-size: 7vw;
    margin: 0;
}

#header-img-text {
    font-size: 2vw;
    margin-top: 0;
}

#about-box {
grid-area: about-box;

display: grid;
grid-template-columns: minmax(10rem, 40rem) 1fr;
grid-template-rows: 1fr;
grid-template-areas:
"about-img about-text";
}

#about-me-img {
    grid-area: about-img;
 
   width: 100%;
    object-fit: cover;


}
#about-me-text-box {
    grid-area: about-text;
     position: relative;
    margin: 5vw;
    color: black;
   
}
#about-me-title {
 font-size: 5vw;
    margin: 0;
}
#about-me-text {
    font-size: 2vw;
    margin-top: 0;
}

#links-box {
    display: flex;
    justify-content: flex-start;
}

#links-box a {
    font-size: 2vw;
    padding: 0rem 1rem 0rem 1rem;
}

@media screen and (min-width: 900px) {

    
        #header-img-text-box {
            position: absolute;
            margin: 1vw;
            margin-top: 1vw;
            margin-left: 4vw;
            color: white;
            
        }
        #header-img-text-title {
            font-size: 4vw;
            margin: 0;
        }
        
        #header-img-text {
            font-size: 1vw;
        }
        

        #about-me-text-box {
            grid-area: about-text;
             position: relative;
        
            margin: 1vw;
            margin-top: 1vw;
            margin-left: 4vw;
            color: black;
           
        }
        #about-me-title {
         font-size: 4vw;
            margin: 0;
        }
        #about-me-text {
            font-size: 1vw;
        }
        p {
            width: 70%;
        }
        
        #links-box {
            display: flex;
            justify-content: flex-start;
        }
        
        #links-box a {
            font-size: 1.5vw;
            padding: 0rem 1rem 0rem 1rem;
        }
}