#home-container {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "header-box";
}

#header-box {
  grid-area: header-box;
  display: flex;
  align-self: flex-start;
  max-width: 100%;
  max-height: 700px;
}

#header-img {
  width: 100%;
  height: auto;
  min-height: 600px;
  max-height: 700px;
  margin: 0;
  object-position: top;
  object-fit: cover;
}

#header-img-text-box {
  position: absolute;
  margin: 5vw;
  width: 250px;
  color: white;
}
#header-img-text-title {
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin: 0 0 20px 0;
}

#header-img-text {
  font-size: 15px;
  margin-top: 0;
}
#img2 {
    display: none;
}

@media screen and (min-width: 1000px) {
  #header-box {
    background-color: rgb(32, 33, 39);
    position: relative;
    height: 700px;
  }

  #header-img {
    max-width: 1000px;
    margin: 0;
    position: absolute;
    max-height: 700px;
    left: 0;
  }

  #header-img-text-box {
    position: absolute;
    margin: 5vw;
    width: 250px;
    color: white;
  }

  #img2 {
    display: block;
    object-fit: cover;
    width: 100%;
    background-image: url("../../resources/img/flipped_bw.png");
    background-position: 1000px 0px;
    background-size: 1000px;
  }
}

/* @media screen and (min-width: 900px) {

    
        #header-img-text-box {
            position: absolute;
            margin: 1vw;
            margin-top: 1vw;
            margin-left: 4vw;
            color: white;
            
        }
        #header-img-text-title {
            font-size: 4vw;
            margin: 0;
        }
        
        #header-img-text {
            font-size: 1vw;
        }
        

        #about-me-text-box {
            grid-area: about-text;
             position: relative;
        
            margin: 1vw;
            margin-top: 1vw;
            margin-left: 4vw;
            color: black;
           
        }
        #about-me-title {
         font-size: 4vw;
            margin: 0;
        }
        #about-me-text {
            font-size: 1vw;
        }
        p {
            width: 70%;
        }
        
        #links-box {
            display: flex;
            justify-content: flex-start;
        }
        
        #links-box a {
            font-size: 1.5vw;
            padding: 0rem 1rem 0rem 1rem;
        }
} */
