#stats-container {
  display: none;
  height: 700px;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px 1fr;
  grid-template-areas:
    "player-title"
    "player-stats"
    "computer-title"
    "computer-stats";
}

#stats-container h2,
#stats-container h3 {
  text-align: center;
}
#stats-container h4 {
  text-align: left;
}

#stats-container span {
  align-self: center;
}

#player-title {
  grid-area: player-title;
}

.stats-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#player-stats-box {
  grid-area: player-stats;
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 50px 150px;
  gap: 0rem 3rem;
  grid-template-areas:
    "chart-title1 chart-title2"
    "pie-chart1 pie-chart2";
}

#player-chart-title1 {
  grid-area: chart-title1;
}

.wins,
.losses {
  width: 10px;
  height: 10px;
}
.wins {
  background-color: #ff6361;
}
.losses {
  background-color: #ffa600;
}

.data-box {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 10px 150px;
  grid-template-rows: 20px 1fr 1fr;
  align-self: center;
}

.data-box h4 {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  font-weight: 500;
}

#player-stats-wins-and-losses {
  grid-area: pie-chart1;
  background-image: conic-gradient(#ffa600 0 50%, #ff6361 0 50%);
}

.pie-chart {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#player-chart-title2 {
  grid-area: chart-title2;
}

#player-stats-choices {
  grid-area: pie-chart2;
  background-image: conic-gradient(#bc5090 0 33%, #58508d 0 66%, #003f5c 0);
}

.rock,
.paper,
.scissors {
  width: 10px;
  height: 10px;
}
.rock {
  background-color: #003f5c;
}
.paper {
  background-color: #bc5090;
}
.scissors {
  background-color: #58508d;
}

#computer-title {
  grid-area: computer-title;
}

#computer-stats-box {
  grid-area: computer-stats;
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 50px 150px;
  gap: 0rem 3rem;
  grid-template-areas:
    "chart-title1 chart-title2"
    "pie-chart1 pie-chart2";
}

#computer-chart-title1 {
  grid-area: chart-title1;
}

#computer-stats-wins-and-losses {
  grid-area: pie-chart1;
  background-image: conic-gradient(#ffa600 0 50%, #ff6361 0 50%);
}

#computer-chart-title2 {
  grid-area: chart-title2;
}

#computer-stats-choices {
  grid-area: pie-chart2;
  background-image: conic-gradient(#bc5090 0 33%, #58508d 0 66%, #003f5c 0);
}
