#stats-container {
  display: none;
  height: 700px;
  scale: 0.95;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 40fr 10fr 40fr;
  grid-template-areas:
    "player-title"
    "player-stats"
    "computer-title"
    "computer-stats";
}

#stats-container h2 {
  text-transform: uppercase;
}
#stats-container h2,
#stats-container h3 {
  text-align: center;
}

#stats-container h4 {
  text-align: left;
  font-weight: 400;
}

#stats-container span {
  align-self: center;
}

#player-title {
  grid-area: player-title;

}

.stats-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#player-stats-box {
  grid-area: player-stats;
  align-self: flex-start;
  display: grid;
  padding: 1rem;
  grid-template-columns: 150px 150px;
  grid-template-rows: 50px 150px;
  gap: 0rem 3rem;
  grid-template-areas:
    "chart-title1 chart-title2"
    "pie-chart1 pie-chart2";
}

#player-chart-title1 {
  grid-area: chart-title1;
}

.wins,
.losses {
  width: 10px;
  height: 10px;
}
.wins {
  background-color: #ff6361;
}
.losses {
  background-color: #ffa600;
}

.data-box {
  margin: auto;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 10px 150px;
  grid-template-rows: 20px 1fr 1fr;
  align-self: center;
}

.data-box h4 {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  font-weight: 500;
}

#player-stats-wins-and-losses {
  grid-area: pie-chart1;
  background-image: conic-gradient(#ffa600 0 50%, #ff6361 0 50%);
}

.pie-chart {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  outline: solid 1px rgba(0, 0, 0, 0.1);
}

#player-chart-title2 {
  grid-area: chart-title2;
}

#player-stats-choices {
  grid-area: pie-chart2;
  background-image: conic-gradient(#bc5090 0 33%, #58508d 0 66%, #003f5c 0);
}

.rock,
.paper,
.scissors {
  width: 10px;
  height: 10px;
}
.rock {
  background-color: #003f5c;
}
.paper {
  background-color: #bc5090;
}
.scissors {
  background-color: #58508d;
}

#computer-title {
  grid-area: computer-title;
  margin: 0;
}

#computer-stats-box {
  grid-area: computer-stats;
  display: grid;
  align-self: flex-start;
  grid-template-columns: 150px 150px;
  grid-template-rows: 50px 150px;
  gap: 0rem 3rem;
  padding: 1rem;
  grid-template-areas:
    "chart-title1 chart-title2"
    "pie-chart1 pie-chart2";
}

#computer-chart-title1 {
  grid-area: chart-title1;
  margin: 1rem;
}

#computer-stats-wins-and-losses {
  grid-area: pie-chart1;
  background-image: conic-gradient(#ffa600 0 50%, #ff6361 0 50%);
}

#computer-chart-title2 {
  grid-area: chart-title2;
}

#computer-stats-choices {
  grid-area: pie-chart2;
  background-image: conic-gradient(#bc5090 0 33%, #58508d 0 66%, #003f5c 0);
}

@media screen and (max-width: 400px) {
  #stats-container {
    display: none;
    margin: auto;
  }

  #stats-container h2 {
    text-transform: uppercase;
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
  }
  #stats-container h3 {
    text-transform: uppercase;
    font-size: 12px;
    margin: 0;
  }
  #stats-container h4 {
    text-align: left;
    font-size: 13px;
  }

  #player-stats-box {
    gap: 0rem 1.5rem;
  }

  .data-box {
    display: grid;
    grid-template-columns: 10px 150px;
    grid-template-rows: 20px 1fr 1fr;
    align-self: center;
  }

  .pie-chart {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  #computer-stats-box {
    gap: 0rem 1.5rem;
  }
}
