@media screen and (max-width: 415px) {
  html,
  body {
    overflow-y: hidden;
    overflow-x: hidden;
  }

  body {
    position: relative;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
    align-self: center;
  }

  #footer-text {
    display: none;
  }
}

/* removes footer for iphone (due to limited vh) */
@media screen and (max-width: 415px) and (max-height: 700px) {
  body {
    position: relative;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 90vh;
    grid-template-areas:
      "header"
      "main";
  }

  footer {
    display: none;
  }
}
