@media screen and (max-width: 389px) {
  html,
  body {
    overflow-x: hidden;
  }

  body {
    position: relative;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
    align-self: center;
  }
}


