footer a {
  font-size: 30px;
  text-decoration: none;
}

#footer-text {
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

@media screen and (max-width: 415px) {
  #footer-text {
    display: none;
  }
  #footer-icons {
    margin: auto;
  }
}

/* removes footer content for iphone (due to limited vh) */
@media screen and (max-width: 415px) and (max-height: 700px) {
  #footer-icons,
  #footer-text {
    display: none;
  }
}
